<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table class="table table-striped">
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Created By</th>
=======
>>>>>>> cc9a4da7bd952aa8ca82b9f0ab2f282f70caa56a
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
<<<<<<< HEAD
        <td><%= article.user.username %></td>
=======
>>>>>>> cc9a4da7bd952aa8ca82b9f0ab2f282f70caa56a
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
