<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
<strong>Created by:</strong>
<%= @article.user.username %>
</p>

<p>
=======
>>>>>>> cc9a4da7bd952aa8ca82b9f0ab2f282f70caa56a
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
